@model ITDocument.ViewModels.DocumentUpdateViewModel
@{
    /**/

    /**/

    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        Document
        <small>Document/Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Document management</a></li>
        <li class="active">Document</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    @using (Html.BeginForm("Edit", "Document", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group row">
                                <label for="Name" class="col-sm-12">Name</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Name" placeholder="Name" name="Name" value="@HttpUtility.HtmlDecode(Model.Name)">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Summary" class="col-sm-12">Summary</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Summary" placeholder="Summary" name="Summary" value="@HttpUtility.HtmlDecode(Model.Summary)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Tag" class="col-sm-12">Tag</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="Tag" placeholder="Tag" name="Tag" value="@HttpUtility.HtmlDecode(Model.Tag)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Tag" class="col-sm-12">Content</label>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { name = "Content", id = "Content", rows = "10", cols = "80" } })

                                    <script>
                                        CKEDITOR.replace('Content');
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Files:</label>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" multiple="multiple" />
                                <ul class="attachment">
                                    @foreach (var item in Model.DocumentFiles)
                                    {
                                        <li>
                                            @Html.ActionLink("Download", "Download", "announcement", new { id = Model.Id })
                                            <a class="title" href="~/App_Data/Download/?p=@(item.Id + item.Path)&d=@item.Name">@item.Name</a>
                                           
                                            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">X</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <p>
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </p>
                        </fieldset>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.deleteItem').click(function(e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function(data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('li').remove();
                    } else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function() {
                    alert("There is something wrong. Please try again.");
                });
            }
        });
    });
</script>